DOMAIN=client1.com
ACME_EMAIL=you@example.com
NEXT_PUBLIC_SITE_URL=
SITE_URL=
SITE_NAME=
AUTHOR_NAME=
FORM_WEBHOOK_URL=
BAD_REVIEW_WEBHOOK_URL=
GOOGLE_REVIEW_LINK=
NEXT_PUBLIC_N8N_URL=
NEXT_PUBLIC_CLIENT_ID=